__pycache__/
.venv/

# Logs and data files
logs
logs/
*.log
*.csv
old_logs

# Images and plots
# *.png
# *.jpg
# *.jpeg
# *.gif

# JSON data files
q_table*.json
*_log*.csv

# OS files
.DS_Store
*.swp
*.swo

# Results
results/
# tmp_pretrained_dynaq/

# Test files
# test_*.py
# test_*.json

coop/


run_overcooked_independent.py
test_overcooked_qlearning.py
test_overcooked_collaboration.py
main_simple.py
q_tables/

